<!DOCTYPE HTML>

<html>

<head>
	<title>Aerial</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<meta name="description" content="Maximum IT Solution, Web design, Logo design, Graphics Design, Mobile Apps, Desktop Support, Hosting, Domain, Server">
	<meta name="keywords" content="Maximum IT Solution, Web design, Logo design, Graphics Design, Mobile Apps, Desktop Support, Hosting, Domain, Server, VPS, website, wordpress, blogspot, webbly, joomla">
	<meta name="author" content="Maksum Rifai">
	<link rel="icon" href="../assets/favicon.ico">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body class="is-preload">
	<div id="wrapper">
		<div id="bg"></div>
		<div id="overlay"></div>
		<div id="main">

			<!-- Header -->
			<header id="header">
				<h1>DesainerHub</h1>
				<p>Web Desain &nbsp;&bull;&nbsp; Hosting &nbsp;&bull;&nbsp; Domain</p>
				<nav>
					<ul>
						<li><a href="https://www.youtube.com/channel/UCGyHF_JvEIe0CIMHDrmQdUQ" class="fab fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="https://www.instagram.com/desainerhub" class="fab fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.facebook.com/desainerhub" class="fab fa-facebook-square"><span class="label">Facebook</span></a></li>
						<li><a href="https://desainerhub.com/blog" class="fas fa-newspaper"><span class="label">Blog</span></a></li>
						<li><a href="https://github.com/desainerhub" class="fab fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:info@desainerhub.com" class="far fa-envelope"><span class="label">Email</span></a></li>
						<li><a href="https://slack.desainerhub.com" class="fab fa-slack"><span class="label">Slack</span></a></li>
						<li><a href="https://wa.me/628978553523" class="fab fa-whatsapp"><span class="label">Whatsapp</span></a></li>
					</ul>
				</nav>
			</header>

			<!-- Footer -->
			<footer id="footer">
				<span class="copyright">&copy; <a href="https://desainerhub.com">DesainerHub</a>.</span>
			</footer>

		</div>
	</div>
	<script>
		window.onload = function () { document.body.classList.remove('is-preload'); }
		window.ontouchmove = function () { return false; }
		window.onorientationchange = function () { document.body.scrollTop = 0; }
	</script>
</body>

</html>
